		<div class="row">
		<div class="large-12 columns">
		<div id="slider">
			<h1>抵制谣言需要你我的参与</h1>
				<h3 class="subheader">抵制谣言，人人有责</h3>
			<%= link_to "加入我们", new_user_path, class: "button success" %>
			<!-- <img src="http://placehold.it/1000x400&text=[ img 1 ]" /> -->
			
		</div>		
		</div>
    <hr />
</div>
<div class="row">
	<div class="large-6 columns sub">
		
		<h1 class = "subtitle">谣言</h1>
			

			<% @yanluns.each do |yanlun| %>
	   <p>
	   	    <%= yanlun.title %>
	   </p>
		 <p>
		 	
	    <%= yanlun.content %>
		 </p> 
			 
			   <%= link_to 'Edit', edit_yanlun_path(yanlun) %>
			    <%= link_to 'Destroy', yanlun, method: :delete, data: { confirm: 'Are you sure?' } %>
			  </tr>
			<% end %>

			<br />

			<%= link_to '提交言论', new_yanlun_path,class: " small button alert" %>
			
	</div>
	
	
	<div class="large-6 columns sub">
		<h1 class = "subtitle">传闻</h1>
		

		<% @yanluns.each do |yanlun| %>
		   <p>
		   	    <%= yanlun.title %>
		   </p>
			 <p>
			 	
		    <%= yanlun.content %>
			  	
			 </p> 
		    <%= link_to 'Show', yanlun %>
		    <%= link_to 'Edit', edit_yanlun_path(yanlun) %>
		    <%= link_to 'Destroy', yanlun, method: :delete, data: { confirm: 'Are you sure?' } %>
		  
		<% end %>
	

		<br />

		<%= link_to '你怎么看', new_yanlun_path,class: "button small" %>
	</div>

	





